// Default resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
}

body {
  height: 100%;
  font-family: gesta, sans-serif;
  font-weight: $defaultFontWeight;
  background: rgb(19, 19, 24);

  background-size: 100%;
  color: $textColor;
}

#root {
  display: flex;
  flex-direction: column;
}