// Variables
$textColor: #dee4e2;
$activeTextColor: #a5a8a7;
$transitionColor: #656867;
$defaultFontFamily: gesta, sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;
$accentFontFamily: europa, sans-serif;
$defaultFontWeight: 400;
$semiboldFontWeight: 600;
