// Scrollbar
::-webkit-scrollbar {
    width: 12px;
}

// Track
::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

// Handle
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: #d9dee7;
}