// Transitions
.transition {
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: #151f29;
  z-index: 1000;
}

.transition2 {
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: #12181f;
  z-index: 1000;
}